.contato {
    background: url(../assets/Background_Contacts.png) no-repeat center/cover;

    height: 787px;
    
    display: flex;
    flex-direction: column;
    padding: 128px 120px 200px;

    header {
        h4, h2, p {
            text-align: center;
            gap: 8px;
        } 
               
        p {
            font: var(--text-md);
            color: var(--base-gray-500);
            padding-bottom: 48px;
        }
    
        h4 {
            color: var(--main-purple);
    
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    justify-content: center;

    figure {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 400px;
        height: 68px;

        padding: 20px;
        gap: 12px;
        
        border: 8px solid var(--base-gray-300);
        border-radius: 8px;

        background-color: var(--base-gray-300);

    }

    img {
        align-content: center;
    }
    
    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        font-family: var(--text-font-family);
        text-decoration: none;

        color: var(--base-gray-500);

        border: 0.5px solid var(--base-gray-300);

        width: 288px;
        gap: 12px;
    }

    figure:hover {
        border: 1.5px solid var(--main-blue);
    }

}